

body{
    background-color: rgb(80, 80, 80);
}

/*----------------------------------------------------*/
.header{
    position:absolute;
    width:85%;
    left:15%;
    top:0%;
    height:8%;
    background-color: rgb(180, 80, 80);
}

.header-login{
    right:8%;
    position:absolute;
    border-color: rgb(0, 0, 0);
    border-style: solid;
}
/*----------------------------------------------------*/

.aside-left{
    position:absolute;
    height: 100%;
    background-color: rgb(180, 180, 80);
    left:0%;
    top:0%;
    width:15%;
    
}

.subpage1a{
    position:absolute;
    top:0%;
    left:2%;
}

.subpage2a{
    position:absolute;
    top:30%;
    left:2%;
}

/*----------------------------------------------------*/

.aside-right{
    position:absolute;
    background-color: rgb(94, 192, 29);
    right:0%;
    top:8%;
    width:15%;
    height: 92%;

}

.subpage1b{
    position:absolute;
    top:0%;
    left:2%;
}

.subpage2b{
    position:absolute;
    top:30%;
    left:2%;
}

/*----------------------------------------------------*/

.main-body{
    position:absolute;
    background-color: rgb(10, 50, 80);
    left:15%;
    top:8%;
    width:70%;
    height: 92%;
    
}   

.subpage1c{
    position:absolute;
    top:0%;
    left:2%;
}

.subpage2c{
    position:absolute;
    top:30%;
    left:2%;
}

.subpage3c{
    position:absolute;
    top:60%;
    left:2%;
}

/*----------------------------------------------------*/

.footer{
    position:fixed
}   